* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(7, 29, 41, 1); */
}
body,
html {
  height: 100%;
  width: 100%;
  /* background-color: rgba(7, 29, 41, 1); */
}

.main1 {
  height: 100vh;
  width: 100vw;
  /* background-color: red; */
  background-color: rgba(7, 29, 41, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 90vh;
  width: 80vw;
  /* background-color: rgb(59, 53, 53); */
  background-color: rgba(7, 29, 41, 1);
  /* background-color: rgba(50, 50, 239, 0); */
  display: flex;
  align-items: center;
  justify-content: center;
}


.circle1 {
  position: absolute;
  height: 650px;
  width: 650px;
  border: 2px solid rgb(60, 60, 125);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
}

.circle1 > img {
  height: 30px;
  width: 30px;
  /* -webkit-animation: circle 2s linear infinite; */
  animation: circle1 6.6s linear infinite;
}

.circle2 {
  height: 550px;
  width: 550px;
  border: 2px solid rgb(60, 60, 125);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.box111,.box112{
  width:400px;
opacity:0.9;
border:1px solid green;
border-radius:0 0 0px 40px;
padding:0 0.5rem;
  background-color:rgba(7, 29, 41, 1);
}
.bi img,.bi2 img{
width:55%;
padding-top: 1rem;

}
.bi img{
  width: 65%;
}
.box111 .p p{
  width:140%;
  margin-left:-2rem;
margin-top:-0.7rem;
} 
.box112 .p p{
  width:140%;
  margin-left:-2rem;
margin-top:-0.7rem;

} 
.box111{
  padding:0rem 1.5rem;
  padding-bottom: 1.5rem;
  position:absolute;
  left:150%;
  top:100px;
}
.box112{
position:absolute;
right:125%;
bottom:50px;
}
.circle2 > img {
  height: 30px;
  width: 30px;
  -webkit-animation: circle 2s linear infinite;
  animation: circle2 5s linear infinite;
}
.circle3 {
  height: 450px;
  width: 450px;
  border: 2px solid rgb(60, 60, 125);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.circle3 > img {
  height: 30px;
  width: 30px;
  -webkit-animation: circle 2s linear infinite;
  animation: circle3 6s linear infinite;
}
.circle4 {
  position: absolute;
  height: 350px;
  width: 350px;
  border: 2px solid rgb(60, 60, 125);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle4 > img {
  height: 30px;
  width: 30px;
  -webkit-animation: circle 2s linear infinite;
  animation: circle4 7s linear infinite;
}

.circle5 {
    position: absolute;
    height: 250px;
    width: 250px;
    border: 2px solid rgb(60, 60, 125);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
    background-color: rgba(7, 29, 41, 1);
  }

@keyframes circle1{
    0%{
        transform: rotate(0deg)translate(325px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(325px)rotate(360deg);
    }
}

@keyframes circle2{
    0%{
        transform: rotate(0deg)translate(275px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(275px)rotate(360deg);
    }
}


@keyframes circle3{
    0%{
        transform: rotate(0deg)translate(225px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(225px)rotate(360deg);
    }
}


@keyframes circle4{
    0%{
        transform: rotate(0deg)translate(175px)rotate(0deg);
    }
    100%{
        transform: rotate(360deg)translate(175px)rotate(360deg);
    }
}
@media (max-width:48em){
  .circle1{
    width:350px;
    height: 350px;
  }
  .circle2{
    width:250px;
    height: 250px;
  }
  .circle3{
    width:350px;
    height: 350px;
  }
  .circle4{
    width:300px;
    height: 300px;
  }
  .circle5{
    width:200px;
    height: 200px;
  }
.box112{
  right:-20%;
  bottom:200px;
}
.box111{
  left:-80%;
  top:200px;
}
}